<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tplentiful.sys.dao.TableDao">

    <select id="selectOneByTableInfo" resultType="com.tplentiful.sys.pojo.po.Table">
        SELECT ORDINAL_POSITION,
               COLUMN_NAME,
               COLUMN_COMMENT
        FROM information_schema.`COLUMNS`
        WHERE TABLE_SCHEMA = #{database}
          AND TABLE_NAME = #{tableName}
    </select>
</mapper>
